<!DOCTYPE HTML>
<html>
  <head>
    <title>徽章盒子-团队面板</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="assets/team.bundle.css">
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <p>团队面板</p>
    <div id="test"></div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
    <script src="assets/team.bundle.js"></script>
  </body>
</html>
