<!DOCTYPE HTML>
<html>
  <head>
    <title>徽章盒子-首页</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
    <div id="test"></div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
  </body>
</html>
