@import "normalize.css";
@import "font-awesome.css";
@import "antd/lib/index.css";
@import "_config.scss";
@import "_utils.scss";

body {
  padding: 50px;
  font: 14px "MF JiaHei (Noncommercial) Regular", "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
    #test {
        @include clearfix;
        transition: 0.5s;
        background-color: $gray;
    }
}
