@import "_config.scss";
@import "_utils.scss";
@import "normalize.css";
@import "antd/lib/index.css";

body {
  padding: 50px;
  font: 14px "MF JiaHei (Noncommercial) Regular", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
