@font-face {
    font-family: "MF JiaHei (Noncommercial) Regular";
    src: url("jiaHei.eot"); /* IE9 */
    src: url("jiaHei.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("jiaHei.woff") format("woff"), /* chrome, firefox */
    url("jiaHei.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("jiaHei.svg#MF JiaHei (Noncommercial) Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


